body {
	font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    overflow-x: hidden;
    color: #868f9b;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Oswald', sans-serif;
    margin-top: 0;
    color: #2a2a2a;
}
th{
    font-size: 16px;
    color: #337ab7;
}
td{
    color: black;
    font-size: 14px;
}


h1 {
    font-size: 54px;
}
h2 {
    font-size: 36px;
}
h3 {
    font-size: 21px;
}
h4 {
    font-size: 18px;
}
h5 {
    font-size: 12px;
}
h6 {
    font-size: 11px;
}

a{
    color: #283792;
    text-decoration: none;
    transition: .2s opacity;
    font-size: 16px;
}
label{
    color: #283792;
    font-size: 14px;
}
select{
    font-size: 14px;
}
text{
    font-size: 14px;
}

a:hover, a:focus {
    text-decoration: none;
    outline: none;
    opacity: 0.8;
    color: #283792;
}

.main-color {
    color: #283792;
}

.white-text {
    color: #fff;
}


::moz-selection {
    background-color: #283792;
    color: #fff;
}

::selection {
    background-color: #283792;
    color: #fff;
} 

ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* Section Properties */

section {
    position: relative;
}

.md-padding {
    padding-top: 80px;
    padding-bottom: 80px;
}

.section-header {
    position: relative;
    margin-bottom: 60px;
}

.section-header .title {
    text-transform: capitalize;
}

.title::after {
    content: "";
    display: block;
    height: 3px;
    width: 60px;
    background-color: #283792;
    margin: 20px auto 0;
}

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/

.navbar-brand {
	transition: all .5s;
}

.navbar-brand:hover {
	color: #ffffff!important; /* sol üst */
}

#mainNav {
	background-color: transparent;
}

nav.navbar-container {
    padding: 20px 0 20px 0;
}

.navbar-container.shrink {
    padding: 0;
}

#mainNav .navbar-toggler {
	font-size: 12px;
	right: 0;
	padding: 13px;
	text-transform: uppercase;
	color: white;
	border: 0;
	background-color: #283792;
}

#mainNav .navbar-nav .nav-item .nav-link {
	font-size: 14px;
	font-weight: 400;
	padding: 12px 10px;
	letter-spacing: 1px;
	color: white;
	transition: all .5s;
}

#mainNav .navbar-nav .nav-item .nav-link.active,
#mainNav .navbar-nav .nav-item .nav-link:hover {
	color: #ffffff;
}

.navbar.shrink {
    background-color: #283792!important;
}


.navbar-brand.shrink,
.navbar-container.shrink,
.navbar.fixed-top.shrink,
.navbar-brand,
.navbar-container{
    transition: 0.8s;
    -webkit-transition:  0.8s;
}


/* Buttons */

.main-btn, .white-btn {
    display: inline-block;
    padding: 10px 35px;
    margin: 20px;
    border: 2px solid transparent;
    transition: .2s opacity;
    -webkit-transition: .2s opacity;
}

.main-btn {
    background-color: #283792;
    color: #fff;
}

.white-btn {
    background-color: #fff;
    color: #283792;
}

.main-btn:hover, .white-btn:hover {
    opacity: .8;
}

/*--------------------------------------------------------------
# ABOUT Section
--------------------------------------------------------------*/

.about {
	position: relative;
	padding: 40px 20px;
	border: 1px solid #eee;
	margin: 15px 0px;
	cursor: pointer;
	transition: 1s all;
	-webkit-transition: 1s all;
}

.about i {
	font-size: 36px;
	color: #283792;
	margin-bottom: 20px;
}

.about:after {
	content: "";
	background-color: #2a2a2a;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	height: 0%;
	z-index: -1;
	transition: 1s height;
	-webkit-transition: 1s height;

}

.about:hover:after {
	height: 100%;
}

.about:hover i, .about:hover p, .about:hover h3 {
	color: white;
}

#features {
    background-color: #eee;
}

.feature i {
    font-size: 28px;
    margin: 0;
    color: #2a2a2a;
    transition: all .4s linear;
}

.feature:hover i {
    color: #283792;
    transform: translateX(-32px);
}

.feature h5 {
    font-weight: 300;
    color: #283792;
    margin: 0 0 6px 0;
}

.feature:hover h5 {
    color: #2a2a2a;
}


/* ============================
PAGE HEADER
============================== */

.page-image {
	display: table;
	width: 100%;

}

.page-image-about {
    background: linear-gradient( #283792,#283792);
	background-repeat: no-repeat;
	background-size: cover;
    background-position: center;
}

.page-title {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
    font-size: 50px;
	line-height: 50px;
	margin-bottom: 25px;
	font-weight: 200;
}

/* ============================
ABOUT US SECTION
============================== */

#aboutus {
	background-color: #ffffff;
}

#aboutus .project-text {
	padding: 3rem;
	font-size: 90%;
}

.bg-main {
background-color: #283792;

}

.team-member {
	margin-bottom: 50px;
	text-align: center;
}

.team-member img {
	width: 225px;
	height: 225px;
	border: 7px solid #fff;
}

.team-member h4 {
	margin-top: 25px;
	margin-bottom: 0;
	text-transform: none;
}

.team-member p {
	margin-top: 0;
}

ul.social-buttons {
	margin-bottom: 0;
}

ul.social-buttons li a {
	font-size: 20px;
	line-height: 50px;
	display: block;
	width: 50px;
	height: 50px;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
	color: white;
	outline: none;
	background-color: #2a2a2a;
}

ul.social-buttons li a:active,
ul.social-buttons li a:focus,
ul.social-buttons li a:hover {
	background-color: #283792;
}







