<section class="page-image page-image-about md-padding">
  <h1 class="text-white text-center">Workflows</h1>
</section>

<!--==========================
    ABOUTUS Section Bizim mekan
============================-->


<section id="aboutus" class="md-padding">
  <div class="container">

    <div class="container">
      <div class="row">
        <div class="col-md-2 text-left"></div>

        <div class="col-md-8 bg-light py-3">
          <form action="/upload" method="post" enctype="multipart/form-data">
            <label class="col-5 col-sm-5" id="" for="">File Type:</label>
            <select class="col-5 col-sm-5" size="1px" name="file_type" id="">
              <option value="prc">Procedure</option>
              <option value="frm">Form</option>
            </select><br><br>
            <label class="col-5 col-sm-5" for="">Related Work Units:</label>
            <select class="col-5 col-sm-5" size="1px" name="work_unit" id="">
              <option value="mf">MF</option>
              <option value="ik">İK</option>
            </select><br><br>
            <label class="col-5 col-sm-5" for="">Main Process:</label>
            <select class="col-5 col-sm-5" name="main_process" id="" >
              <option value="1">Permit Process</option>
              <option value="2">Job Application</option>
            </select><br><br>
            <label class="col-5 col-sm-5" for="">Work Process:</label>
            <select class="col-5 col-sm-5" name="workflow" id="" >
              <option value="1">Annual Permit Processes</option>
              <option value="2"></option>
            </select><br><br><br>
            <label class="col-5 col-sm-5" for="">File:</label>

            <input class="col-5 col-sm-5" type="file" accept="application/pdf" name="file" required/>
            <br><br><br><br><br>
            <button class="btn btn-primary float-right" type="submit" value="Submit">Submit</button>

          </form>
        </div>
      </div>






      <!-- <div class="row text-center">
				<div class="col-md-4 offset-md-4">
					<div class="section-header">
						<h2 class="title">How We Begin</h2>
					</div>
				</div>
			</div> -->

    </div>
</section>
