<section class="page-image page-image-about md-padding">

</section>

<!--==========================
    ABOUTUS Section Bizim mekan
============================-->


<section id="aboutus" class="md-padding">
    <div class="container">

        <div class="container">
            <div class="row">
                <div class="col-md-2 text-left"></div>
                <div class="col-md-4 text-left">
                    <label id="" for="">Work Unit Code:</label>
                    <br><br>
                    <label for="">Work Unit Name:</label>
                    <br><br>
                    <label for="">Manager:</label>
                    <br>
                    <button id="aboutus" type="button" >Add Personnel</button>
                                            <br>  <br>
                </div>
                <div class="col-md-6">
                    <form>
                        <input type="text" id="" name="" value="REK"><br><br>
                        <input type="text" id="" name="" value="Işık University Rectorship"><br><br>
                        <select size="1px" name="" id="" disabled>
                            <option value="">Administrative</option>
                            <option value=""></option>
                            <option value=""></option>
                        </select><br>
                    </form>
                </div>
            </div>






            <!-- <div class="row text-center">
				<div class="col-md-4 offset-md-4">
					<div class="section-header">
						<h2 class="title">How We Begin</h2>
					</div>
				</div>
			</div> -->
            <section id="tabs" class="project-tab">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <nav>
                                <div class="nav nav-tabs nav-fill" role="tablist"
                                    style="border:2px solid #ccc; font-weight: bolder;">
                                    <a class="nav-item nav-link active" data-toggle="tab" href="#nav-home" role="tab"
                                        aria-controls="nav-home" aria-selected="true">On Change Files</a>
                                    <a class="nav-item nav-link" data-toggle="tab" href="#nav-profile" role="tab"
                                        aria-controls="nav-profile" aria-selected="false">Approved Files</a>
                                </div>
                            </nav>
                            <div class="tab-content" id="nav-tabContent " style="border:1px solid #ccc;">
                                <div class="tab-pane fade show active" id="nav-home" role="tabpanel"
                                    aria-labelledby="nav-home-tab">
                                    <div class="table-responsive">
                                        <div>
                                            
                                        </div>
                                        <table class="table table-hover" cellspacing="0">
                                            <thead>
                                                <tr>
                                                    <th>File No</th>
                                                    <th>Approved Status</th>
                                                    <th>Change Reason</th>
                                                    <th>Rejection Statu</th>
                                                    <th>Rejection Reason</th>
                                                    <th>Options</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>PRS-İK-2-2-0</td>
                                                    <td>On Changing</td>
                                                    <td>Newly requirement for sign from work unit manager for annual
                                                        leave
                                                        ap
                                                    </td>
                                                    <td>Manager</td>
                                                    <td>Definition is not understandable</td>
                                                    <td style="text-align:center"><a href="#">
                                                            <span class="material-icons">
                                                                visibility
                                                            </span> </a> <a href="#">
                                                            <span class="material-icons">
                                                                visibility
                                                            </span> </a> </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="nav-profile" role="tabpanel"
                                    aria-labelledby="nav-profile-tab">
                                    <div class="table-responsive">
                                        <table class="table table-hover" cellspacing="0">
                                            <thead>
                                                <tr>
                                                    <th>File No</th>
                                                    <th>Approval Date</th>
                                                    <th>Options</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>SPRS-İK-3-3-0</td>
                                                    <td>02-10-2020</td>
                                                    <td style="text-align:center"><a href="#">
                                                            <span class="material-icons">
                                                                visibility
                                                            </span> </a></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
</section>