<section class="page-image page-image-about md-padding">
	<h1 class="text-white text-center">Workflows</h1>
</section>

<!--==========================
    ABOUTUS Section Bizim mekan
============================-->
<section id="aboutus" class="md-padding">
	<div class="container">

		<!-- <div class="row text-center">
				<div class="col-md-4 offset-md-4">
					<div class="section-header">
						<h2 class="title">How We Begin</h2>
					</div>
				</div>
			</div> -->
		<section id="tabs" class="project-tab">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<nav>
							<div class="nav nav-tabs nav-fill" role="tablist"
								style="border:2px solid #ccc; font-weight: bolder;">
								<a class="nav-item nav-link active" data-toggle="tab" href="#nav-home" role="tab"
									aria-controls="nav-home" aria-selected="true">All
									Workflows</a>
								<a class="nav-item nav-link" data-toggle="tab" href="#nav-profile" role="tab"
									aria-controls="nav-profile" aria-selected="false">My Workflows</a>
								<a class="nav-item nav-link" data-toggle="tab" href="#nav-contact" role="tab"
									aria-controls="nav-contact" aria-selected="false">Old Workflows</a>
							</div>
						</nav>
						<div class="tab-content" id="nav-tabContent " style="border:1px solid #ccc;">
							<div class="tab-pane fade show active" id="nav-home" role="tabpanel"
								aria-labelledby="nav-home-tab">
								<div class="table-responsive">
									<table class="table table-hover" cellspacing="0">
										<thead>
											<tr>
												<th>Work Process</th>
												<th>Academic/Administrative</th>
												<th>Related Work Units</th>
												<th>Category</th>
												<th>Options</th>
											</tr>
										</thead>
										{{#each workflows}}
										<tr>
											<td> {{workprocess}} </td>
											{{#if acad}}
											<td>Academic</td>
											{{/if}}
											{{#unless acad}}
											<td>Administrative</td>
											{{/unless}}

											<td> </td>
											<td> </td>


											{{#if (or
											(eq creatorid ../userid )
											)}}
											<td style="text-align:center"><a href="/onchangefiles">
													<span class="material-icons">
														pan_tool
													</span> </a></td>
												
											{{else}}

											<td style="text-align:center"><a href="#">
													<span class="material-icons">
														visibility
													</span> </a>  
											{{/if}}

										</tr>
										{{/each}}
									</table>
								</div>
							</div>
							<div class="tab-pane fade" id="nav-profile" role="tabpanel"
								aria-labelledby="nav-profile-tab">
								<div class="table-responsive">
									<form action="/onchangefiles" method="POST">

										<div class="form-group">
											<input class="form-control" name="create" type="text" value="1"
												required="required" hidden>
										</div>
										<button type="submit" class="btn" style="background:none">Create New Work Flow
											Process</button>
									</form>

									<table class="table table-hover" cellspacing="0">
										<thead>
											<tr>
												<th>Work Process</th>
												<th>Academic/Administrative</th>
												<th>Related Work Units</th>
												<th>Category</th>
												<th>Options</th>
											</tr>
										</thead>
										{{#each myworkflows}}
										<tr>
											<td> {{workprocess}} </td>
											{{#if acad}}
											<td>Academic</td>
											{{/if}}
											{{#unless acad}}
											<td>Administrative</td>
											{{/unless}}

											<td> </td>
											<td> </td>
											<td style="text-align:center"><a href="/onchangefiles">
													<span class="material-icons">
														pan_tool
													</span> </a></td>
										</tr>
										{{/each}}
									</table>
								</div>
							</div>
							<div class="tab-pane fade" id="nav-contact" role="tabpanel"
								aria-labelledby="nav-contact-tab">
								<div class="table-responsive">
									<table class="table table-hover " cellspacing="0">
										<thead>
											<tr>
												<th>Work Process</th>
												<th>Academic/Administrative</th>
												<th>Related Work Units</th>
												<th>Category</th>
												<th>Options</th>
											</tr>
										</thead>
										{{#each oldworkflows}}
										<tr>
											<td> {{workprocess}} </td>
											{{#if acad}}
											<td>Academic</td>
											{{/if}}
											{{#unless acad}}
											<td>Administrative</td>
											{{/unless}}
											<td> </td>
											<td> </td>
											<td style="text-align:center"><a href="#">
													<span class="material-icons">
														visibility
													</span> </a></td>
										</tr>
										{{/each}}
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</section>