<nav class="navbar navbar-expand-lg " style="color: aqua; background-color: #283792;" id="mainNav">

  <div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/workflows/allworkflows" style="font-size: 25px;">Workflows</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/workunits/allworkunits" style="font-size: 25px;">Work Units</a>
      </li>
      {{!-- {{#if admin}}
      <li class="nav-item active">
        <a class="nav-link" href="/registeredusers/roles" style="font-size: 25px;">Roles</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/mainprocess/addmainprocess" style="font-size: 25px;">Main Process</a>
      </li>
      {{/if}} --}}
      {{#if admin}}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false" style="font-size: 25px;">
          System Changes
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/registeredusers/roles">Roles</a>
          <a class="dropdown-item" href="/mainprocess/addmainprocess">Main Process</a>
          <a class="dropdown-item" href="/workflowfiletype/addworkflowfiletype">Workflow File Type</a>
          {{!-- <div class="dropdown-divider"></div> --}}
          {{!-- <a class="dropdown-item" href="#">Something else here</a> --}}
        </div>
      </li>
      {{/if}}
    </ul>

  </div>
</nav>