	<!-- Navigation -->
	<nav class="navbar navbar-container navbar-expand-lg navbar-dark fixed-top" id="mainNav">
		<div class="container">
			<a class="navbar-brand js-scroll-trigger" href="#page-top">EDMS</a>
			<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
				data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
				aria-label="Toggle navigation">
				MENU
				<i class="fas fa-bars"></i>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav text-uppercase ml-auto">
					<li class="nav-item">
						<a class="nav-link" href="/registeredusers/register">Workflows</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/registeredusers/login">Approved WorkflowFiles</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="blog.html">Work Units</a>
					</li>
					
				</ul>
				
			</div>
			
		</div>
		
	</nav>
