{{!-- <footer>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<ul class="footer-follow" style="visibility: hidden;">
					<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
					<li><a href="#"><i class="fab fa-twitter"></i></a></li>
					<li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
					<li><a href="#"><i class="fab fa-instagram"></i></a></li>
					<li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
					<li><a href="#"><i class="fab fa-youtube"></i></a></li>
				</ul>
				<div class="footer-copyrights">
					<p>BY FATO&OGUZ</p>
				</div>
			</div>
		</div>
	</div>
</footer> --}}




<!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script> -->
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script>src = "https://fontawesome.com/v4.7.0/icons"</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<script src="/js/lightbox-plus-jquery.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/main.js"></script>
<script>
	function SwitchButtons(buttonId) {
		var hideBtn, showBtn;
		if (buttonId == 'button1') {
			showBtn = 'button2';
			hideBtn = 'button1';


		} else {
			showBtn = 'button1';
			hideBtn = 'button2';
			//document.getElementById("workproc").disabled=ture
		}

		//I don't have your menus, so this is commented out.  just uncomment for your usage
		// document.getElementById(menuToggle).toggle(); //step 1: toggle menu

		document.getElementById(hideBtn).style.display = 'none'; //step 2 :additional feature hide button
		document.getElementById(showBtn).style.display = ''; //step 3:additional feature show button
		document.getElementById("workproc").disabled = false

	}
</script>

<script>
	function switchChck() {

		if (document.getElementById('inlineCheckbox2').checked) {
			document.getElementById('inlineCheckbox2').checked = false
		}
		else if (!document.getElementById('inlineCheckbox1').checked) {
			document.getElementById('inlineCheckbox2').checked = true

		}

	}
</script>

<script>
	function switchChck2() {

		if (document.getElementById('inlineCheckbox4').checked) {
			document.getElementById('inlineCheckbox4').checked = false
		}
		else if (!document.getElementById('inlineCheckbox3').checked) {
			document.getElementById('inlineCheckbox4').checked = true

		}

	}
</script>

<script>
	function switchChck3() {

		if (document.getElementById('inlineCheckbox6').checked) {
			document.getElementById('inlineCheckbox6').checked = false
		}
		else if (!document.getElementById('inlineCheckbox5').checked) {
			document.getElementById('inlineCheckbox6').checked = true

		}

	}
</script>

<script>
	function switchChck4() {

		if (document.getElementById('inlineCheckbox8').checked) {
			document.getElementById('inlineCheckbox8').checked = false
		}
		else if (!document.getElementById('inlineCheckbox7').checked) {
			document.getElementById('inlineCheckbox8').checked = true

		}

	}
</script>

<script>
	function switchChck5() {

		if (document.getElementById('inlineCheckbox10').checked) {
			document.getElementById('inlineCheckbox10').checked = false
		}
		else if (!document.getElementById('inlineCheckbox9').checked) {
			document.getElementById('inlineCheckbox10').checked = true

		}

	}
</script>



<script>
	function deneme(response) {
		$.ajax({
			url: "/registeredusers/secureUsers", // the endpoint
			type: "GET", // http method
			//console.log(json.user[i]['iscommission'])
			success: function (json) {
				//response.value
				//console.log(json.user)
				for (i = 0; i < json.user.length; i++) {
					let usermap = json.user[i];

					if (response.value == usermap['email']) {
						if (usermap['isCommittee']) {
							document.getElementById('inlineCheckbox5').checked = true
							document.getElementById('inlineCheckbox6').checked = false
						}
						else {
							document.getElementById('inlineCheckbox6').checked = true
							document.getElementById('inlineCheckbox5').checked = false
						}
						if (usermap['isManager']) {
							document.getElementById('inlineCheckbox3').checked = true
							document.getElementById('inlineCheckbox4').checked = false
						}
						else {
							document.getElementById('inlineCheckbox4').checked = true
							document.getElementById('inlineCheckbox3').checked = false
						}
						if (usermap['isOrganiser']) {
							document.getElementById('inlineCheckbox1').checked = true
							document.getElementById('inlineCheckbox2').checked = false
						}
						else {
							document.getElementById('inlineCheckbox2').checked = true
							document.getElementById('inlineCheckbox1').checked = false
						}
						if (usermap['isBlocked']) {
							document.getElementById('inlineCheckbox7').checked = true
							document.getElementById('inlineCheckbox8').checked = false
						}
						else {
							document.getElementById('inlineCheckbox8').checked = true
							document.getElementById('inlineCheckbox7').checked = false
						}
					}
					if (response.value == "") {
						document.getElementById('inlineCheckbox1').checked = false
						document.getElementById('inlineCheckbox2').checked = false
						document.getElementById('inlineCheckbox3').checked = false
						document.getElementById('inlineCheckbox4').checked = false
						document.getElementById('inlineCheckbox5').checked = false
						document.getElementById('inlineCheckbox6').checked = false
						document.getElementById('inlineCheckbox7').checked = false
						document.getElementById('inlineCheckbox8').checked = false
					}
				}
			}
		});

	}
</script>
{{!--
<script>
	Swal.fire({
		title: 'Are you sure?',
		text: "You won't be able to revert this!",
		icon: 'warning',
		showCancelButton: true,
		confirmButtonColor: '#3085d6',
		cancelButtonColor: '#d33',
		confirmButtonText: 'Yes, delete it!'
	}).then((result) => {
		if (result.isConfirmed) {
			Swal.fire(
				'Deleted!',
				'Your file has been deleted.',
				'success'
			)
		}
	})
</script> --}}


{{!--
<script>
	function pop() {
		console.log("işte geldi özelhareket")
		alert("işte geldim")
		const Toast = Swal.mixin({
			toast: true,
			position: 'bottom-start',
			showConfirmButton: false,
			timer: 3500
		});
		Toast.fire({
			icon: 'success',
			title: "kendin bişi"
		})
	};
</script> --}}

<script>


	function pop() {
		if (document.getElementById('selectmail').value == 'notselectedemail') {
			Swal.fire('You need to select an E-mail', '', 'error')
		}
		else {
			Swal.fire({
				title: 'Do you want to save the changes?',
				showDenyButton: true,
				showCancelButton: true,
				confirmButtonText: `Save`,
				denyButtonText: `Don't save`,
			}).then((result) => {

				/* Read more about isConfirmed, isDenied below */
				if (result.isConfirmed) {
					let form = document.getElementById("rolgonderme")
					$.ajax({
						type: "POST",
						url: "/registeredusers/roles",
						data: $(form).serialize(),
						success: function () {
							Swal.fire('Saved!', '', 'success')
						}
					});
				} else if (result.isDenied) {
					Swal.fire('Changes are not saved', '', 'info')
				}
			})
		}

	}
</script>

<script>
	function addTableMainProcess() {
		let str = JSON.stringify(document.getElementById('workprocessid').value)

		if (document.getElementById('workprocessid').value === "" || document.getElementById('workprocessnoid').value === "" ||
			document.getElementById('workunitid').value === "" || str.charAt(1) == " ") {
			Swal.fire('Check the Main Process Name. You cant start with space. Main Process Name, Main Process No and Related Work Unit cant be null!', '', 'error')

		}
		else {
			var table = document.getElementById('workprocesstable');
			var tableBody = document.createElement('tbody');
			table.appendChild(tableBody);
			var tr = document.createElement('tr');
			tableBody.appendChild(tr);
			var td = document.createElement('td');
			var td1 = document.createElement('td');
			var td2 = document.createElement('td');
			td.appendChild(document.createTextNode(document.getElementById('workprocessid').value));
			td1.appendChild(document.createTextNode(document.getElementById('workprocessnoid').value));
			td2.appendChild(document.createTextNode("Onchange"));
			tr.appendChild(td);
			tr.appendChild(td1);
			tr.appendChild(td2);

			//inputs


			var form = document.getElementById('workform');
			//id="workform"


			// Create an input element for workprocess
			var work = document.createElement("input");
			work.setAttribute("type", "text");
			work.setAttribute("readonly", true);
			work.setAttribute("name", "workprocess");
			work.setAttribute("value", document.getElementById('workprocessid').value);
			//work.style.display = 'none';

			// Create an input element for workprocessno
			var workno = document.createElement("input");
			workno.setAttribute("type", "text");
			workno.setAttribute("name", "workprocessno");
			workno.setAttribute("readonly", true);
			//workno.style.display = 'none';
			workno.setAttribute("value", document.getElementById('workprocessnoid').value);

			//workunitid
			var workid = document.createElement("input");
			workid.setAttribute("type", "text");
			workid.setAttribute("readonly", true);
			workid.setAttribute("name", "workunitid");
			workid.setAttribute("value", document.getElementById('workunitid').value);
			//work.style.display = 'none';
			form.append(workid);
			// Append the email_ID input to the form
			form.append(work);
			// Append the password to the form
			form.append(workno);
			document.getElementById('workprocessid').value = ""
			document.getElementById('workprocessnoid').value = ""
			document.getElementById('workunitid').selectedIndex = 0
		}
	}
</script>

<script>
	function addTableWorkflowFileType() {
		//id="workflowfilecodeid"
		//id="workflowfilenameid"

		let code = JSON.stringify(document.getElementById('workflowfilecodeid').value)
		let file = JSON.stringify(document.getElementById('workflowfilenameid').value)
		if (document.getElementById('workflowfilenameid').value === ""  || file.charAt(1) == " " ||
			document.getElementById('workflowfilecodeid').value === ""  || code.charAt(1) == " ") {
			Swal.fire('Check the Main Process Name. You cant start with space. Main Process Name, Main Process No and Related Work Unit cant be null!', '', 'error')

		}
		else {
			var table = document.getElementById('workflowfiletable');
			var tableBody = document.createElement('tbody');
			table.appendChild(tableBody);
			var tr = document.createElement('tr');
			tableBody.appendChild(tr);
			var td = document.createElement('td');
			var td1 = document.createElement('td');
			var td2 = document.createElement('td');
			td.appendChild(document.createTextNode(document.getElementById('workflowfilenameid').value));
			td1.appendChild(document.createTextNode(document.getElementById('workflowfilecodeid').value));
			td2.appendChild(document.createTextNode("Onchange"));
			tr.appendChild(td);
			tr.appendChild(td1);
			tr.appendChild(td2);

			//inputs


			var form = document.getElementById('workflowfileform');
			//id="workflowfilecodeid"
			//id="workflowfilenameid"


			// Create an input element for workflowfilename
			var filename = document.createElement("input");
			filename.setAttribute("type", "text");
			filename.setAttribute("readonly", true);
			filename.setAttribute("name", "workflowfilename");
			filename.setAttribute("value", document.getElementById('workflowfilenameid').value);
			//filename.style.display = 'none';

			// Create an input element for workflowfilecode
			var filecode = document.createElement("input");
			filecode.setAttribute("type", "text");
			filecode.setAttribute("readonly", true);
			filecode.setAttribute("name", "workflowfilecode");
			//filecode.style.display = 'none';
			filecode.setAttribute("value", document.getElementById('workflowfilecodeid').value);

			form.append(filecode);
			// Append the filecode input to the form
			form.append(filename);
			// Append the filename to the form

			//clear inputs
			document.getElementById('workflowfilenameid').value = ""
			document.getElementById('workflowfilecodeid').value = ""
		}
	}

</script>
<script>
function disablear(){
	btn1 = document.getElementById("btn1");
	btn2 = document.getElementById("btn2");
	if(btn1.style.display == "none"){
		btn1.style.display = ""
		btn2.style.display = "none"
	}else {
		btn1.style.display = "none"
		btn2.style.display = " "
	}

	var elements = document.getElementsByClassName("wu-edit");
	for(i = 0;i<elements.length;i=i+1){
		alert(elements[i].value)
		elements[i].disabled= !(elements[i].disabled);
	}

}
document.getElementById("wu-edit-form").submit();



</script>
</body>

</html>
